GeneLoss.config	hg38_pMammals_144way
ailMel1	hg38_pMammals_144way
balAcu1	hg38_pMammals_144way
bisBis1	hg38_pMammals_144way
bosTau8	hg38_pMammals_144way
calJac3	hg38_pMammals_144way
camFer1	hg38_pMammals_144way
canFam3	hg38_pMammals_144way
capHir1	hg38_pMammals_144way
cavPor3	hg38_pMammals_144way
cerSim1	hg38_pMammals_144way
chiLan1	hg38_pMammals_144way
chlSab2	hg38_pMammals_144way
chrAsi1	hg38_pMammals_144way
conCri1	hg38_pMammals_144way
dasNov3	hg38_pMammals_144way
echTel2	hg38_pMammals_144way
eleEdw1	hg38_pMammals_144way
eptFus1	hg38_pMammals_144way
equCab2	hg38_pMammals_144way
eriEur2	hg38_pMammals_144way
felCat8	hg38_pMammals_144way
hetGla2	hg38_pMammals_144way
jacJac1	hg38_pMammals_144way
lepWed1	hg38_pMammals_144way
loxAfr3	hg38_pMammals_144way
macFas5	hg38_pMammals_144way
manPen1	hg38_pMammals_144way
mesAur1	hg38_pMammals_144way
micOch1	hg38_pMammals_144way
mm10	hg38_pMammals_144way
musFur1	hg38_pMammals_144way
myoDav1	hg38_pMammals_144way
myoLuc2	hg38_pMammals_144way
nanGal1	hg38_pMammals_144way
nomLeu3	hg38_pMammals_144way
ochPri3	hg38_pMammals_144way
octDeg1	hg38_pMammals_144way
odoRosDiv1	hg38_pMammals_144way
orcOrc1	hg38_pMammals_144way
oryAfe1	hg38_pMammals_144way
oryCun2	hg38_pMammals_144way
otoGar3	hg38_pMammals_144way
panHod1	hg38_pMammals_144way
panPan1	hg38_pMammals_144way
panTro4	hg38_pMammals_144way
papAnu2	hg38_pMammals_144way
perManBai1	hg38_pMammals_144way
phyCat1	hg38_pMammals_144way
ponAbe2	hg38_pMammals_144way
pteAle1	hg38_pMammals_144way
pteVam1	hg38_pMammals_144way
rheMac3	hg38_pMammals_144way
rhiRox1	hg38_pMammals_144way
rn6	hg38_pMammals_144way
saiBol1	hg38_pMammals_144way
sorAra2	hg38_pMammals_144way
speTri2	hg38_pMammals_144way
tarSyr2	hg38_pMammals_144way
triMan1	hg38_pMammals_144way
turTru2	hg38_pMammals_144way
ursMar1	hg38_pMammals_144way
vicPac2	hg38_pMammals_144way
